<section id="main" role="main">
	<div class="container-fluid">
		<div class="page-header page-header-block">
			<div class="page-header-section">
				<h4 class="title semibold"><i class="ico-users5"></i> Member Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="ico-list mr5"></i>Cooperative Members</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table id="tableMembers" class="table table-bordered table-hover table-condensed">
										<thead>
											<tr>
												<th class="text-right">#</th>
												<th>Member Name</th>
												<th>Employee ID</th>
												<th class="text-center">Gender</th>
												<th class="text-center">Active Status</th>
											</tr>
										</thead>
										<tbody>
										<%
										i=0
										rowNumber = 0;
										while i<@members.length do
											rowNumber = rowNumber + 1;
											member = @members[i];
											activeStatusName = 'Active';
											activeCommand = 'Deactivate';
											activeNext = 0;
											activeStatusButton = 'btn-success';
											if member.active_status==0 then
												activeStatusName = 'Inactive';
												activeCommand = 'Activate';
												activeNext = 1;
												activeStatusButton = 'btn-default';
											end
											%>
											<tr class="member-row" data-person-id="<%= member.prsn_id %>">
												<td class="text-right pointer-cursor member-info"><%= rowNumber %></td>
												<td class="member-name pointer-cursor member-info"><%= member.prsn_fullname %></td>
												<td class="employee-id pointer-cursor member-info"><%= member.employee_id %></td>
												<td class="text-center pointer-cursor member-info"><%= member.prsn_gender %></td>
												<td class="member-status text-center panel" data-active-status="<%= member.active_status %>">
													<div class="btn-group mb0">
														<button type="button" class="btn btn-xs <%= activeStatusButton %> dropdown-toggle" data-toggle="dropdown"><span class="active-status-name"><%= activeStatusName %></span> <span class="caret"></span></button>
														<ul class="dropdown-menu" role="menu">
															<li><a class="active-status-next" href="javascript:void(0);" data-active-status="<%= activeNext %>"><%= activeCommand %></a></li>
														</ul>
													</div>
													<div class="indicator"><span class="spinner spinner8"></span></div>
												</td>
											</tr>
											<% i=i+1;
										end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modalMemberPersonalInfo" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Member Personal Information</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div id="divMemberWidget" class="widget panel" data-person-id="">
								<div class="panel-body">
									<ul class="list-table">
										<li style="width: 70px;">
											<img class="img-circle img-bordered" src=<%= image_url('logo.png') %> alt="" width="65px" height="65px">
										</li>
										<li class="text-left">
											<h5 class="semibold ellipsis">
												<span class="member-name"></span><br>
												<small class="employee-id text-muted"></small>
											</h5>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<form class="form-horizontal panel panel-default">
								<div class="panel-body">
									<div class="form-group mb5">
										<label class="control-label col-sm-4">Last Name</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-9 pr5">
													<input id="txtLname" name="lname" type="text" class="form-control data-display" placeholder="last name" data-group="person" data-refresh="prsn_lname" data-refreshed=false>
												</div>
												<div class="col-xs-3 pl5">
													<input id="txtLnamesuffix" name="lnamesuffix" type="text" class="form-control data-display" placeholder="suffix" data-group="person" data-refresh="prsn_lnamesuffix" data-refreshed=false>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group mb5">
										<label class="control-label col-sm-4">First Name</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-9 pr5">
													<input id="txtFname" name="fname" type="text" class="form-control data-display" placeholder="first name" data-group="person" data-refresh="prsn_fname" data-refreshed=false>
												</div>
												<div class="col-xs-3 pl5">
													<input id="txtFnamesuffix" name="fnamesuffix" type="text" class="form-control data-display" placeholder="suffix" data-group="person" data-refresh="prsn_fnamesuffix" data-refreshed=false>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-4">Middle Name</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-9 pr5">
													<input id="txtMname" name="mname" type="text" class="form-control data-display" placeholder="middle name" data-group="person" data-refresh="prsn_mname" data-refreshed=false>
												</div>
												<div class="col-xs-3 pl5">
													<input id="txtMinitial" name="minitial" type="text" class="form-control data-display" placeholder="middle initial" data-group="person" data-refresh="prsn_minitial" data-refreshed=false>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-4">Gender</label>
										<div id="divGender" class="col-sm-4">
											<select id="cboGender" name="cboGender" class="form-control selectized" placeholder="Select gender..." style="display: none;" data-group="person" data-refresh="prsn_gender"></select>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="btnSaveMemberPersonalInfo" type="button" class="btn btn-success">Save</button>
					<button type="button" class="btn-cancel btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
				<div class="indicator show"><span class="spinner spinner8"></span></div>
			</div>
		</div>
	</div>
	<div id="modalChangeStatus" class="modal fade" role="dialog">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog modal-sm vertical-align-center">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Change Status</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<label class="col-sm-3 control-label">Status</label>
								<div class="col-sm-9">
									<div class="radio custom-radio custom-radio-primary mb10">  
										<input type="radio" id="rdoActive" value="1" name="rdo_activate_status">  
										<label for="rdoActive">&nbsp;&nbsp;Active</label>   
									</div>
									<div class="radio custom-radio custom-radio-primary">  
										<input type="radio" id="rdoInactive" value="0" name="rdo_activate_status">  
										<label for="rdoInactive">&nbsp;&nbsp;Inactive</label>   
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-cancel btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			function refreshData(personID,element,elementType) {
				var dataGroup = $(element).data('group');
				var dataField = $(element).data('refresh');
				var dataFilter = $(element).attr('data-filter');
				var elementID = $(element).attr('id');

				$.ajax({
					url: '<%= @urlBase %>/management/getData',
					type : 'GET',
					data : { prsn_id : personID,
						data_group : dataGroup,
						data_field : dataField,
						data_filter : dataFilter,
						element_id : elementID,
						element_type : elementType
					}
				});
			}
			function setData(personID,dataField,dataValue) {
				$.ajax({
					url: '<%= @urlBase %>/management/setData',
					type : 'POST',
					data : {
						prsn_id : personID,
						data_field : dataField,
						data_value : dataValue
					}
				});
			}

			//update member status:
			$('td.member-status li a').on('click',function(){
				$(this).closest('.member-row').find('.indicator').addClass('show');

				var personID = $(this).closest('.member-row').attr('data-person-id');
				var activeNew = $(this).attr('data-active-status');
				setData(personID,'active_status',activeNew);
			});

			//set #tableMembers as data table:
			var unitTable = $('#tableMembers').dataTable({
				"aoColumnDefs": [{'bSortable': false, 'aTargets': [0,3,4]}],
				"iDisplayLength" : 10
			});
			setupDataTable('#tableMembers');

			//set modals draggable:
			//credits to a certain Andres Ilich
			//url: https://stackoverflow.com/a/12592150
			$(".modal").draggable({handle: '.modal-header'});

			//initialize comboboxes:
			$('#cboGender').selectize({
				maxItems: 1,
				options: [
					{gender_value: 'M', gender_display: 'Male'},
					{gender_value: 'F', gender_display: 'Female'}
				],
				searchField: ["group_display"],
				valueField: "gender_value",
				labelField: "gender_display",
				items: [2]
			});

			//---------------------------------------------------------
			//EVENTS:
			$(document).off('click','td.member-info');
			$(document).on('click','td.member-info',function(){
				var memberRow = $(this).closest('tr.member-row');
				var personID = memberRow.attr('data-person-id');

				$('#divMemberWidget').attr('data-person-id',personID);
				$('#modalMemberPersonalInfo').modal({backdrop: 'static'});

				$.ajax({
					url: '<%= @urlBase %>/management/getMemberInfo',
					type : 'GET',
					data : { prsn_id : personID },
					success : function() {
						$('#txtLname').focus();
					}
				});
			});
			
			$('#modalMemberPersonalInfo').on('hide.bs.modal',function(){
				//reset .data-display refreshed status
				$('#modalMemberPersonalInfo .data-display').attr('data-refreshed',false);

				//return loading indicator
				$('#modalMemberPersonalInfo .indicator').addClass('show');
			})

			$('#btnSaveMemberPersonalInfo').on('click',function(){
				$('#modalMemberPersonalInfo .indicator').addClass('show');

				var personID = $('#divMemberWidget').attr('data-person-id');
				var newLname = $('#txtLname').val();
				var newLnamesuffix = $('#txtLnamesuffix').val();
				var newFname = $('#txtFname').val();
				var newFnamesuffix = $('#txtFnamesuffix').val();
				var newMname = $('#txtMname').val();
				var newMinitial = $('#txtMinitial').val();

				$.ajax({
					url: '<%= @urlBase %>/management/setMemberInfo',
					type: 'POST',
					data: { prsn_id: personID,
						prsn_lname: newLname,
						prsn_lnamesuffix: newLnamesuffix,
						prsn_fname: newFname,
						prsn_fnamesuffix: newFnamesuffix,
						prsn_mname: newMname,
						prsn_minitial: newMinitial },
					success: function() {
						$('#modalMemberPersonalInfo').modal('hide');
					}
				});
			});
		});
	</script>
</section>
