<section id="main" role="main">
	<div class="container-fluid">
		<div class="page-header page-header-block">
			<div class="page-header-section">
				<h4 class="title semibold"><i class="ico-users5"></i> Member Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="ico-list mr5"></i>Cooperative Members</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table id="tableMembers" class="table table-bordered table-hover table-condensed">
										<thead>
											<tr>
												<th class="text-right">#</th>
												<th>Member Name</th>
												<th>Employee ID</th>
												<th class="text-center">Gender</th>
												<th class="text-center">Active Status</th>
											</tr>
										</thead>
										<tbody>
										<%
										i=0
										rowNumber = 0;
										while i<@members.length do
											rowNumber = rowNumber + 1;
											member = @members[i];
											activeStatusName = 'Active';
											activeCommand = 'Deactivate';
											activeNext = 0;
											activeStatusButton = 'btn-success';
											if member.active_status==0 then
												activeStatusName = 'Inactive';
												activeCommand = 'Activate';
												activeNext = 1;
												activeStatusButton = 'btn-default';
											end
											%>
											<tr class="member-row" data-person-id="<%= member.prsn_id %>">
												<td class="text-right"><%= rowNumber %></td>
												<td class="member-name"><%= member.prsn_fullname %></td>
												<td class="employee-id"><%= member.employee_id %></td>
												<td class="text-center"><%= member.prsn_gender %></td>
												<td class="member-status text-center panel" data-active-status="<%= member.active_status %>">
													<div class="btn-group mb0">
														<button type="button" class="btn btn-xs <%= activeStatusButton %> dropdown-toggle" data-toggle="dropdown"><span class="active-status-name"><%= activeStatusName %></span> <span class="caret"></span></button>
														<ul class="dropdown-menu" role="menu">
															<li><a class="active-status-next" href="javascript:void(0);" data-active-status="<%= activeNext %>"><%= activeCommand %></a></li>
														</ul>
													</div>
													<div class="indicator"><span class="spinner spinner8"></span></div>
												</td>
											</tr>
											<% i=i+1;
										end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modalChangeStatus" class="modal fade" role="dialog">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog modal-sm vertical-align-center">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Change Status</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<label class="col-sm-3 control-label">Status</label>
								<div class="col-sm-9">
									<div class="radio custom-radio custom-radio-primary mb10">  
										<input type="radio" id="rdoActive" value="1" name="rdo_activate_status">  
										<label for="rdoActive">&nbsp;&nbsp;Active</label>   
									</div>
									<div class="radio custom-radio custom-radio-primary">  
										<input type="radio" id="rdoInactive" value="0" name="rdo_activate_status">  
										<label for="rdoInactive">&nbsp;&nbsp;Inactive</label>   
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-cancel btn btn-default" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			function setData(personID,dataField,dataValue) {
				$.ajax({
					url: '<%= @urlBase %>/management/setData',
					type : 'POST',
					data : {
						prsn_id : personID,
						data_field : dataField,
						data_value : dataValue
					}
				});
			}

			//update member status:
			$('td.member-status li a').on('click',function(){
				$(this).closest('.member-row').find('.indicator').addClass('show');

				var personID = $(this).closest('.member-row').attr('data-person-id');
				var activeNew = $(this).attr('data-active-status');
				setData(personID,'active_status',activeNew);
			});

			//set #tableMembers as data table:
			var unitTable = $('#tableMembers').dataTable({
				"aoColumnDefs": [{'bSortable': false, 'aTargets': [0,3,4]}],
				"iDisplayLength" : 10
			});
			setupDataTable('#tableMembers');
		});
	</script>
</section>
