<section id="main" role="main">
	<div class="container-fluid">
		<div class="page-header page-header-block">
			<div class="page-header-section">
				<h4 class="title semibold"><i class="ico-users5"></i> Member Management</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><i class="ico-list mr5"></i>Cooperative Members</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table id="tableMembers" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th class="text-right">#</th>
												<th>Member Name</th>
												<th>Employee ID</th>
												<th class="text-center">Gender</th>
												<th class="text-center">Active Status</th>
											</tr>
										</thead>
										<tbody>
										<%
										i=0
										rowNumber = 0;
										while i<@members.length do
											rowNumber = rowNumber + 1;
											member = @members[i];
											%>
											<tr>
												<td class="text-right"><%= rowNumber %></td>
												<td class='member-name'><%= member.prsn_fullname %></td>
												<td class="employee-id" prsn-id="<%= member.prsn_id %>"><%= member.employee_id %></td>
												<td class="text-center"><%= member.prsn_gender %></td>
												<td class="text-center"><%= member.active_status %></td>
											</tr>
											<% i=i+1;
										end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			//set #tableMembers as data table:
			var unitTable = $('#tableMembers').dataTable({
				"aoColumnDefs": [{'bSortable': false, 'aTargets': [0,3,4]}],
				"iDisplayLength" : 10
			});
			setupDataTable('#tableMembers');
		});
	</script>
</section>
